*{
    margin:0;
    padding:0;
    margin-top: 10px;
    box-sizing: border-box;
    text-decoration: none;
    front-family: sans-serif;
}

body{
    padding-top: 90px;
    background-image: url(imagenes/tec3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja_detras{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0,128,255,0.3);
}

.caja_detras div{
    margin: 100px 80px;
    color: white;
}

.caja_detras div p,
.caja_detras div button{
    margin-top: 30px;
}

.caja_detras div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja_detras button{
    padding: 10px 40px;
    border: 2px solid #ffffff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
  
}

.caja_detras button:hover{
    background: #ffffff;
    color: #46A2FD;
}

.contenedor_login_register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position:relative;
    top:-185px;
    left: 10px;
}

.contenedor_login_register form{
    width: 100%;
    padding: 80px 20px;
    background: #ffffff;
    position: absolute;
    border-radius: 20px;
}

.contenedor_login_register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

.contenedor_login_register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
}

.contenedor_login_register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    color: white;
    cursor: pointer;
}








